In [2]:
import pandas as pd 
df=pd.DataFrame({
    "transaction_date":pd.to_datetime(['2025-2-4 2:23:33','2024-3-12 9:38:11'])

})
df['day']=df['transaction_date'].dt.dayofweek
df['hour']=df['transaction_date'].dt.hour
df['isweeekend']=df['day'].apply(lambda z:1 if z>=5 else 0)
df

     transaction_date  day  hour  isweeekend
0 2025-02-04 02:23:33    1     2           0
1 2024-03-12 09:38:11    1     9           0

In [10]:
from sklearn.preprocessing import OneHotEncoder
df=pd.DataFrame({'product_category':['electronic','clothing','clothing','grocery']})
encoder=OneHotEncoder(sparse_output=False)
encoder_features=encoder.fit_transform(df[['product_category']])
df_encoder=pd.DataFrame(encoder_features,columns=encoder.get_feature_names_out())
print(df_encoder)

   product_category_clothing  product_category_electronic  \
0                        0.0                          1.0
1                        1.0                          0.0
2                        1.0                          0.0
3                        0.0                          0.0

   product_category_grocery
0                       0.0
1                       0.0
2                       0.0
3                       1.0

In [16]:
import numpy as np
df=pd.DataFrame({
    'transactionamount':[100,200,300,400]
})
df['Logtransactionamount']=np.log1p(df['transactionamount'])
print(df)

   transactionamount  Logtransactionamount
0                100              4.615121
1                200              5.303305
2                300              5.707110
3                400              5.993961

In [24]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler
scaler=MinMaxScaler()
df['normalization_transasction_amount']=scaler.fit_transform(df[['transactionamount']])
standard_scaler=StandardScaler()
df['standardized_transaction_amount']=standard_scaler.fit_transform(df[['transactionamount']])
df

,transactionamount,Logtransactionamount,normalization_transasction_amount,standardized_transaction_amount
0,100,4.615121,0.000000,-1.341641
1,200,5.303305,0.333333,-0.447214
2,300,5.707110,0.666667,0.447214
3,400,5.993961,1.000000,1.341641